@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProDisplay-Regular.woff2'),
    url('../fonts/SFProDisplay-Regular.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProDisplay-Regular.woff2'),
    url('../fonts/SFProDisplay-Regular.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProDisplay-Regular.woff2'),
    url('../fonts/SFProDisplay-Regular.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}