@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';
@import 'base/font-icons';
@import 'base/mixins';
@import 'base/variables';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, sans-serif;
    color: $main-color;
    font-weight: 400;
}

.container {
    max-width: 414px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 0;
    font-size: 34px;
    line-height: 41px;
    font-weight: 700;
    letter-spacing: 0.26px;
    color: $light-color;
    text-align: center;
}

@import 'blocks/promo';
@import 'blocks/reviews';
@import 'blocks/plans';


