.promo {
    padding: 84px 0 102px 0;
    @include gradientBg;
    &__close {
        position: absolute;
        top: 50px;
        right: 13px;
    }
    &__inner {
        position: relative;
    }
    &__features {
        margin-top: 30px;
        padding-left: 0;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4em;
            filter: blur(70px);
            height: 70%;
            background-color: #ffffff;
            transform: translateX(-15em) skewX(45deg);
            animation: shadowPromo .5s linear 3.5s forwards;
        }
    }
    &__feature {
        padding: 19px 33px;
        list-style: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 1;
        color: $light-color;
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color:transparent;
            border-bottom: 2px solid transparent;
            border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.690068) 48.69%, rgba(255, 255, 255, 0.0001) 100%);
            border-image-slice: 1;   
            mix-blend-mode: overlay; 
            opacity: 76%;
        }
        &:first-child{
            &:before{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
                background-color:transparent;
                border-bottom: 2px solid transparent;
                border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.690068) 48.69%, rgba(255, 255, 255, 0.0001) 100%);
                border-image-slice: 1;   
                mix-blend-mode: overlay; 
                opacity: 76%;
            }
        }      

    }
    &__accent {
        top: 0;
        left: 0;
    } 
}


.accent-offer{
    position: absolute;
    width: 100%;
    &__inner{
        position: relative;
    }
    &__line {
        position: absolute;
        top: 0px;
        left: 0;
        opacity: 95%;
        mix-blend-mode: normal; 
        overflow: hidden;
        &_up {
            svg {
                stroke-dasharray: 422;
                stroke-dashoffset: 422;
                animation: promoLineUp 2s linear forwards;
            }
        }
        &_down {
            svg {
                stroke-dasharray: 470;
                stroke-dashoffset: 470;
                animation: promoLineDown 2s linear forwards;
            }
        }
    }
    &__photo {
        height: 250px;
        width: 150px;
        top: -24px;
        left: 178px;
        position: absolute;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__badge{
        position: absolute;
        right: 13px;
        &_free{
            top: 31px;
            transform: scale(0);
            animation: badgeAppiarenceFree .4s ease-in-out forwards;
            animation-delay: 1.9s;
        }
        &_pro {
            top: 128px;
            transform: scale(0);
            animation: badgeAppiarenceFree .4s ease-in-out forwards;
            animation-delay: 1.9s;
        }
    }
}

.close-btn{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5273);
    outline: none;
    span{
        position: absolute;
        display: inline-block;
        border-radius: 96px;
        width: 20px;
        height: 2.5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
        background-image: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
        &:last-child{
            transform: translate(-50%, -50%) rotate(-135deg);
        }
    }
}



.badge{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
        margin-bottom: 5px;
    }
    &__point{
        width: 14px;
        height: 14px;
        background-color: #EE304E;
        display: inline-block;
        border-radius: 100%;
        border: 4px solid $light-color;
    }
}