.reviews{
    margin-top: -76px;
    position: relative;
    z-index: 5;
    &__slider-wrapper {
        overflow: hidden;
        width: 100%;
    }
    &__slider-inner {
        display: flex;
        transition: .5s linear;
    }
    &__slide {
        padding: 17px 20px 24px 20px;
        width: 374px;
        background-color: $bg-light;
        border-radius: 9px;
        @include darkLightThemeCards;
    }
    &__header {
        margin-bottom: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 600;
        @include darkLightThemeText;
    }
    &__author {
        font-size: 15px;
        font-weight: 400;
        opacity: 49.6%;
        @include darkLightThemeText;
    }
    &__grade {
        margin-bottom: 14px;
    }
    &__point {
        margin-right: 2px;
        color: #FCBF59;
    }
    &__text {
        font-size: 15px;
        line-height: 17.58px;
        @include darkLightThemeText;
    }
}